@use "sass:math";
@use "../1_abstracts" as *;

/*
https://1linelayouts.glitch.me/
09. Clamping My Style
The card has a 
.title
.visual (image or video)
.description
*/
.card {
  width: clamp(23ch, 50%, 46ch);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  
  .title {
    font-family: initial;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .visual {
    height: 125px;
    width: 100%;
    /* or */
    /* aspect-ratio: 16 / 9; */
  }

  .description {
    font-family: initial;
    font-size: 1rem;
    font-weight: 400;
  }
}

