
:root {

  
  /* note: use this */
  --active-brightness: 0.85;
  --hover-brightness: 1.2;

  /* COLORS */
  /* color: hsl(hue, saturation, lightness); */


  /* brand colors */
  --pure-black: hsla(0, 0%, 0%, 1);
  --pure-white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 4%, 1);
  --white: hsla(0, 0%, 96%, 1);
  
  --color-text-pharagraph: #222;
  --color-text-heading: #333;
  
}

